@using System.Globalization
@model IGrouping<DateTime, List>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="row">
    <div class="col">
        <h2>@Model.Key.ToString("MMMM dd, yyyy")</h2>
    </div>
    <div class="col-auto">
        <form asp-action="ChangeUnits" asp-controller="Home" method="post">
            <vc:units-change/>
        </form>
    </div>
</div>

<table class="table table-bordered table-responsive text-center">
    <thead>
        <tr>
            <th class="align-middle">Time</th>
            @foreach (var weather in Model)
            {
                <th>
                    @DateTime.ParseExact(weather.dt_txt, "yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture).ToString("HH:mm")
                    <br />
                    <img src="/images/@(weather.weather.First().icon).png" style="max-width: 80px; height: auto;" />
                </th>
            }
        </tr>
    </thead>
    <tbody class="align-middle">
        <tr>
            <td id="temperature"><b>Temperature (&#8451;)</b></td>
            @foreach (var weather in Model)
            {
                <td id="temperaturevalue">@(weather.main.temp)&#176</td>
            }
        </tr>
        <tr>
            <td id="feelslike"><b>Feels Like (&#8451;)</b></td>
            @foreach (var weather in Model)
            {
                <td id="feelslikevalue">@weather.main.feels_like&#176</td>
            }
        </tr>
        <tr>
            <td><b>Pressure (mm)</b></td>
            @foreach (var weather in Model)
            {
                <td>@weather.main.pressure</td>
            }
        </tr>
        <tr>
            <td><b>Humidity (%)</b></td>
            @foreach (var weather in Model)
            {
                <td>@weather.main.humidity</td>
            }
        </tr>
        <tr>
        <td id="wind"><b>Wind (m/s)</b></td>
            @foreach (var weather in Model)
            {
                <td title = "@GetWindDirection(@weather.wind.deg)">
                    <i class="fa-solid fa-arrow-up" style="transform: rotate(@GetArrowRotation(weather.wind.deg)); font-size: 14px; margin-right: 5px;"></i>
                    <span id="windspeed">@weather.wind.speed</span>
                </td>            
            }
        </tr>
        <tr>
            <td><b/>Probability of precipitation (%)<b/></td>
            @foreach (var weather in Model)
            {
                <td>@Convert.ToInt32(weather.pop * 100)</td>
            }
        </tr>
    </tbody>
</table>

@{
    static string GetWindDirection(double deg)
    {
        switch (true)
        {
            case var expression when deg > 337.5:
                return "Northerly";
            case var expression when deg > 292.5:
                return "North Westerly";
            case var expression when deg > 247.5:
                return "Westerly";
            case var expression when deg > 202.5:
                return "South Westerly";
            case var expression when deg > 157.5:
                return "Southerly";
            case var expression when deg > 122.5:
                return "South Easterly";
            case var expression when deg > 67.5:
                return "Easterly";
            case var expression when deg > 22.5:
                return "North Easterly";
            default:
                return "Northerly";
        }
    }

    static string GetArrowRotation(double deg)
    {
        double rotation = (deg + 180) % 360;
        return $"{rotation}deg";
    }
}